In [5]:
# remove yg URL, dll.
import tweepy
from textblob import TextBlob
import numpy as np
import csv
import datetime
import nltk
from nltk.tokenize import TweetTokenizer
from collections import defaultdict
import re
import pandas as pd

In [6]:
uname = ['@jooshpn'] #ganti dengan username twitter target
newSentence = []
userTw = []

In [7]:
for nama in uname:
    with open(nama+".csv", 'r') as csv_file:
        csv_reader = csv.reader(csv_file)
        for line in csv_reader:
            userTw.append(line)

    for i in range(len(userTw)):
        sent = ''.join(userTw[i].copy())
        token = sent.split()
        newToken = sent.split()
        for x in range(len(token)):
            # tambahkan fitur yg mau dihapus
            if 'http' in token[x]:
                newToken.remove(token[x])
            elif 'ue6f4' in token[x]:
                newToken.remove(token[x])
        concate = ' '.join(newToken).lower()
        newSentence.append(concate)

    with open(nama+".csv", 'w', newline='') as f:
        tulis = csv.writer(f)
        for j in range(len(newSentence)):
            tulis.writerow([newSentence[j]])
    newSentence = []
    userTw = []

In [8]:
data = pd.read_csv(uname[0]+'.csv', usecols=[0], names=['tweet'])
pd.set_option('display.max_colwidth', -1)
data

                                                                                                                                                             tweet
0    @yolanda_n28 iya kan, emg ngeselin
1    apa cm aku yg benci bet liat slide yg isinya kata2 semua?
2    yaa anak jaman sekarang emg jago2 pakai teknologi2 onlen
3    pelajaran hari ini : bahkan bosnya g-suite belajar pakai g-suite dari anaknya..
4    @coachjustinl klopp keknya ngelawak coc, jadi malas deh nonton pool,
..                                                                    ...
446  @coachjustinl gatau coc
447  baru sadar kalau besok ada acara,, dan udh terlanjur begadang buat nonton nihh bola ufe0f ufe0f
448  @coachjustinl udah,, blok aja coc
449  semangats jo, kamu punya tuhan yg tidak pernah menyerah buat mu..
450  astaga,, ini aku terkadang suka banget ambil keputusan yang salah, padahal udh di timbang2 tetap aja rasa ragu itu ada. apakah cuma aku ? #disappointed face#

[451 rows x 1 columns]